#app  {
  height: 100%;
}

.itemList  {
  display: block;
  float: left;
  width: 100%
}

.hint, .responseList {
  display: block;
  float: left;
  width: 90%;
  border: 1px solid #000;
  text-align: center;
  margin: 10px;
}

.item {
  height: 50%;
  min-height: 100px;
  width: 30%;
  border: 1px solid #000;
  float: left;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
}